@model LoKando.Models.ControllerModel.VeiculoControllerModel
<div id="listarVeiculoLocador" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg modal-md modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-danger"><strong>Selecione um Veículo:</strong><br /></h4>
                <p class="lead">Consulte a lista abaixo e clique para escolher um Veículo:</p>
            </div>
            <div class="modal-body text-center">
                <div class="row modal-propriedades" style="margin-top:24px;">
                    <div class="col-md-1"><b>Código Locador</b></div>
                    <div class="col-md-3"><b>Nome <br />Locador</b></div>
                    <div class="col-md-2"><b>Marca</b></div>
                    <div class="col-md-2"><b>Modelo</b></div>
                    <div class="col-md-2"><b>Placa Veículo</b></div>
                </div>
                <hr />
                @foreach (var model in Model.Veiculo)
                {
                    <div class="row" style="margin-top:24px;">
                        <div class="col-md-1"><Strong>@(model.CodigoLocadorVeiculo)</Strong></div>
                        <div class="col-md-3"><i class="fa fa-address-card"></i> @Html.LabelForModel(model.NmFsVeiculoLocador)</div>
                        <div class="col-md-2"><i class="fa fa-registered"></i> @Html.LabelForModel(model.MarcaVeiculo)</div>
                        <div class="col-md-2"><i class="fa fa-car"></i> @Html.LabelForModel(model.ModeloVeiculo)</div>
                        <div class="col-md-2"><i class="fa fa-exchange"></i> @Html.LabelForModel(model.PlacaVeiculo)</div>
                        <div class="col-md-2"><button class="btn btn-success" name="lnkPlacaVeiculo" id="@(model.PlacaVeiculo)" onclick='SelecionarVeiculoLocadorLinkModal("@(model.PlacaVeiculo)")' value="@(model.PlacaVeiculo)">Selecione <i class="fa fa-check"></i></button></div>
                    </div>
                    <hr />
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-reply"></i> Voltar</button>
            </div>
        </div>
    </div>
</div>
