@{ViewBag.Title = "Consulta de Veículo";}
@Scripts.Render("~/BLL/Mascara/MascaraVeiculo.js")
@Scripts.Render("~/BLL/Mascara/MascaraDinheiro.js")
@Scripts.Render("~/BLL/Mascara/MascaraLocador.js")
@Scripts.Render("~/BLL/PlacaVeiculo/PlacaVeiculo.js")
@Scripts.Render("~/BLL/DocumentoLocador/DocumentoLocador.js")
@Scripts.Render("~/BLL/DocumentoLocador/MascaraDocumentoLocador.js")
@Scripts.Render("~/BLL/PesquisaHelperModal/HelperLocador.js")
@Scripts.Render("~/BLL/LinkHelperModal/LinkVeiculoLocador.js")
@model LoKando.Models.ControllerModel.VeiculoControllerModel

<div class="container">
    <h2>Consulta de Veículo</h2>
    <hr />
    @using (Html.BeginForm("ConsultarVeiculoAR", "Veiculo", FormMethod.Get))
    {
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <fieldset id="pesquisaCodigoLocador">
                    <legend>Selecione um Veículo:</legend>
                    <div class="input-group">
                        @Html.TextBox("txtCodigoLocador", null, new { @class = "form-control", placeholder = "Código do Locador", @readonly = "readonly" })
                        <a class="btn btn-primary" name="pesquisaVeiculoLocador" id="pesquisaVeiculoLocador" data-toggle="modal" data-target="#listarVeiculoLocador" style="margin-top:6px;"><i class="fa fa-search"></i> Clique aqui pesquise pelo Veículo</a>
                    </div>
                </fieldset>
                <br />
                <fieldset id="dadosGerais">
                    <legend>Dados Gerais</legend>
                    <br />
                    <div class="form-group">
                        @Html.Label("lblTipoVeiculo", "Tipo:")
                        @Html.Raw("<select id='selTipoVeiculo' name='selTipoVeiculo' class='form-control' disabled><option value='MOTO'>Motocicleta</option><option value='CARRO_SIMPLES'>Carro Simples</option><option value='CARRO_SEDAN'>Sedan</option><option value='PICK_UP'>Pick-UP</option></select>")
                    </div>
                    <div class="form-group">
                        @Html.Label("lblMarcaVeiculo", "Marca:")
                        @Html.TextBox("txtMarcaVeiculo", null, new { @class = "form-control", placeholder = "preenchimento automático", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.Label("lblModeloVeiculo", "Modelo:")
                        @Html.TextBox("txtModeloVeiculo", null, new { @class = "form-control", placeholder = "preenchimento automático", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.Label("lblCorVeiculo", "Cor:")
                        @Html.TextBox("txtCorVeiculo", null, new { @class = "form-control", placeholder = "preenchimento automático", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.Label("lblCombustivelVeiculo", "Combustível:")
                        @Html.Raw("<select id='selCombustivelVeiculo' name='selCombustivelVeiculo' class='form-control' disabled><option value='GASOLINA'>Gasolina</option><option value='ALCOOL'>Álcool</option><option value='GAS'>Gás</option><option value='ELETRICO'>Elétrico</option><option value='FLEX'>Flex</option><option value='HIBRIDO'>Híbrido</option><option value='DIESEL'>Diesel</option><option value='DIESEL_S10'>Diesel-S10</option><option value='ETANOL'>Etanol</option><option value='OUTRO'>Outro</option></select>")
                    </div>
                    <div class="form-group">
                        @Html.Label("lblAnoVeiculo", "Ano:")
                        @Html.TextBox("txtAnoVeiculo", null, new { @class = "form-control", placeholder = "preenchimento automático", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.Label("lblSituacaoLocador", "Qual é a Situação do Veículo?")
                        @Html.Raw("<select id='selSituacaoVeiculo' name='selSituacaoVeiculo' class='form-control' disabled><option value='D'>Disponível</option><option value='B'>Bloqueado</option></select>")
                    </div>
                    <div class="form-group">
                        @Html.Label("lblAtualizacaoVeiculo", "Última Atualização:")
                        @Html.TextBox("txtAtualizacaoVeiculo", null, new { @class = "form-control", placeholder = "preenchimento automático", @readonly = "readonly" })
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <fieldset id="documentoDiariaVeiculo">
                    <legend>Identificação e Diárias</legend>
                    <br />
                    <div class="form-group">
                        @Html.Label("lblPlacaVeiculo", "Placa:")
                        @Html.TextBox("txtPlacaVeiculo", null, new { @class = "form-control", placeholder = "preenchimento automático", required = "required", onfocusout = "ValidaPlaca()", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.Label("lblRenavamVeiculo", "Renavam:")
                        @Html.TextBox("txtRenavamVeiculo", null, new { @class = "form-control", placeholder = "preenchimento automático", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.Label("lblValorDiariaVeiculo", "Diária R$:")
                        @Html.TextBox("txtValorDiariaVeiculo", null, new { @class = "form-control", maxlength = "6", onkeydown = "FormataMoeda(this,5,event)", onkeypress = "return maskKeyPress(event)", placeholder = "preenchimento automático", @readonly = "readonly" })
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-danger form-group" type="reset"><i class="fa fa-trash"></i> Limpar</button>
            <a href="@Url.Action("Index", "Inicio")" class="btn btn-primary form-group"><i class="fa fa-reply"></i> Voltar</a>
        </div>
    }
</div>

@{Html.RenderPartial("~/Views/Veiculo/_ModalConsultaVeiculoLocador.cshtml");}


