<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <title>@ViewBag.Title - LoKando</title>
    <link rel="shortcut icon" href="~/img/icone.png">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/BLL/PesquisaSenha/SenhaUsuario.js")
    @Scripts.Render("~/BLL/ConfirmaAlteracaoUsuario/ConfirmaAlteracaoUsuario.js")
    

    <style>
        @@media screen and (min-width: 1024px) {
            .sessao-usuario-mobile {
                visibility: hidden;
                display: none;
            }

            .link-sair {
                float: right;
            }

            .modal-propriedades {
                font-size: 16px;
                color: #a94442;
            }
        }

        @@media screen and (min-width: 768px) and (max-width:1023px) {
            .sessao-usuario-mobile {
                visibility: hidden;
                display: none;
            }

            .link-sair {
                float: right;
            }

            .modal-propriedades {
                visibility: hidden;
                display: none;
            }
        }

        @@media screen and (max-width:767px) {
            .sessao-usuario-mobile {
                color: #fff;
                font-size: 1.4em;
                font-weight: 500;
                margin-left: 32px;
                margin-top: 16px;
                position: absolute;
                z-index: 9999;
            }

            .link-sair {
                float: left;
                border-top: 1px solid #000;
                width: 100%;
                position: absolute;
                background-color: #FFBB05;
                margin-top: -2px;
            }

            .modal-propriedades {
                visibility: hidden;
                display: none;
            }
        }
    </style>
</head>
<body style="background-image: url('../img/fundo.png');background-repeat:no-repeat;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="@Url.Action("Index","Inicio")" class="sessao-usuario-mobile" id="sessao-usuario-mobile"><i class="fa fa-user"></i> @Session["sessaoEmail"]</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user" style="font-size: 24px "></i> Atendente</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Cadastro", "CadastrarAtendenteUI", "Atendente")</li>
                            <li>@Html.ActionLink("Alterar", "AlterarAtendenteUI", "Atendente")</li>
                            <li>@Html.ActionLink("Consultar", "ConsultarAtendenteUI", "Atendente")</li>
                            <li>@Html.ActionLink("Excluir", "ExcluirAtendenteUI", "Atendente")</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-address-book" style="font-size:24px"></i> Cliente</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Cadastro", "CadastrarClienteUI", "Cliente")</li>
                            <li>@Html.ActionLink("Alterar", "AlterarClienteUI", "Cliente")</li>
                            <li>@Html.ActionLink("Consultar", "ConsultarClienteUI", "Cliente")</li>
                            <li>@Html.ActionLink("Excluir", "ExcluirClienteUI", "Cliente")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-address-card" style="font-size:24px"> </i> Locador</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Cadastro", "CadastrarLocadorUI", "Locador")</li>
                            <li>@Html.ActionLink("Alterar", "AlterarLocadorUI", "Locador")</li>
                            <li>@Html.ActionLink("Consultar", "ConsultarLocadorUI", "Locador")</li>
                            <li>@Html.ActionLink("Excluir", "ExcluirLocadorUI", "Locador")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-car" style="font-size:24px"> </i> Veículo</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Cadastro", "CadastrarVeiculoUI", "Veiculo")</li>
                            <li>@Html.ActionLink("Alterar", "AlterarVeiculoUI", "Veiculo")</li>
                            <li>@Html.ActionLink("Consultar", "ConsultarVeiculoUI", "Veiculo")</li>
                            <li>@Html.ActionLink("Excluir", "ExcluirVeiculoUI", "Veiculo")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-car" style="font-size:24px"> </i> @Session["sessaoEmail"]</a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-target="#ModalAlterarEmail">Alterar Email</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#ModalAlterarSenha">Alterar Senha</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav link-sair">
                    <li><a href="@Url.Action("Logout","AreaRestrita")"><i class="fa fa-external-link" style="font-size:24px;"></i> Sair </a></li>
                </ul>
            </div>
        </div>
    </div>

    @{Html.RenderPartial("~/Views/Usuario/_ModalAlterarEmailUsuario.cshtml");}
    @{Html.RenderPartial("~/Views/Usuario/_ModalAlterarSenhaUsuario.cshtml");}

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - LoKando | Todos os Direitos Reservados</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

    @{

        if (TempData != null && TempData.ContainsKey(Constantes.MensagemAlerta))
        {
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
            <script type="text/javascript">

                $(document).ready(function () {
                    $.alert({
                        title: '<p style="text-align:center;padding:16px;width:100%;">@Html.Raw(HttpUtility.JavaScriptStringEncode(TempData[Constantes.MensagemAlerta].ToString()))</p>',
                        content: '<p style="text-align:center;">Clique em OK para continuar.</p>',
                        type: 'orange',
                        typeAnimated: true,
                        useBootstrap: false,
                    });
                });
            </script>
        }
    }

</body>
</html>
