@{ViewBag.Title = "Cadastro do Atendente";}
@Scripts.Render("~/BLL/PesquisaSenha/SenhaAtendente.js")
@Scripts.Render("~/BLL/LimparObrigatorios/LimparObrigatoriosAtendente.js")


<div class="container">
    <h2>Cadastro do Atendente</h2>
    <hr />
    @using (Html.BeginForm("CadastrarAtendenteAR", "Atendente", FormMethod.Post))
    {        
         <div class="row">
             <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                 <fieldset id="dadosGerais">
                     <legend>Dados Gerais</legend>
                     <br />
                     <div class="form-group">
                         @Html.Label("lblNomeAtendente", "Nome:")
                         @Html.TextBox("txtNomeAtendente", null, new { @class = "form-control", placeholder = "preencha aqui", required = "required", maxlength = 100 })
                     </div>
                     <div class="form-group">
                         @Html.Label("lblEmailAtendente", "E-Mail:")
                         @Html.TextBox("txtEmailAtendente", null, new { @class = "form-control", placeholder = "preencha aqui", required = "required", type = "email", maxlength = 100 })
                     </div>
                     <div class="form-group">
                         @Html.Label("lblSenhaAtendente", "Senha:")
                         @Html.TextBox("txtSenhaAtendente", null, new { @class = "form-control", placeholder = "preencha aqui", required = "required", type = "password", onfocusout = "SenhaAtendente()", maxlength = 32 })
                         @Html.Raw("<div id='validaSenha'></div>")
                     </div>
                     <div class="form-group">
                         @Html.Label("lblConfirmaSenhaAtendente", "Confirme a Senha:")
                         @Html.TextBox("txtConfirmaSenhaAtendente", null, new { @class = "form-control", placeholder = "preencha aqui", required = "required", type = "password", onfocusout = "ConfirmaSenhaAtendente()", maxlength = 32 })
                         @Html.Raw("<div id='confirmaSenha'></div>")
                     </div>
                     <div class="form-group">
                         @Html.Label("lblSituacaoAtendente", "Qual é a Situação do Atendente?")
                         @Html.Raw("<select id='selSituacaoAtendente' name='selSituacaoAtendente' class='form-control' required><option value='A'>Ativo</option><option value='B'>Bloqueado</option></select>")
                     </div>
                 </fieldset>
             </div>
         </div>
         <div class="form-group">
             <button class="btn btn-success form-group" type="submit"><i class="fa fa-check"></i> Confirmar</button>
             <button class="btn btn-danger form-group" type="reset" onclick="LimparObrigatoriosAtendente()"><i class="fa fa-trash"></i> Limpar</button>
             <a href="@Url.Action("Index", "Inicio")" class="btn btn-primary form-group"><i class="fa fa-reply"></i> Voltar</a>
         </div>
         @Html.AntiForgeryToken()
    }
</div>
