@{ViewBag.Title = "Alteração do Locador";}
@Scripts.Render("~/BLL/LimparObrigatorios/LimparObrigatoriosLocador.js")
@Scripts.Render("~/BLL/PesquisaSenha/SenhaLocador.js")
@Scripts.Render("~/BLL/Mascara/MascaraLocador.js")
@Scripts.Render("~/BLL/DocumentoLocador/DocumentoLocador.js")
@Scripts.Render("~/BLL/DocumentoLocador/MascaraDocumentoLocador.js")
@Scripts.Render("~/BLL/PesquisaHelperModal/HelperLocador.js")
@Scripts.Render("~/BLL/LinkHelperModal/LinkLocador.js")
@model LoKando.Models.ControllerModel.LocadorControllerModel

<div class="container">
    <h2>Alteração do Locador</h2>
    <hr />
    @using (Html.BeginForm("AlterarLocadorAR", "Locador", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-4 col-md-4 col-sm-6 col-xs-12">
                <fieldset id="pesquisaCodigoLocador">
                    <legend>Código do Locador</legend>
                    <div class="input-group">
                        @Html.TextBox("txtCodigoLocador", null, new { @class = "form-control", onfocusout = "PesquisarLocador()", placeholder = "Pesquise pelo Código do Locador" })
                        <button class="btn btn-primary" name="pesquisaLocador" id="pesquisaLocador" maxlength="5" data-toggle="modal" data-target="#listarLocador" onclick="PesquisarLocador()" style="width:94.75%; margin-top:6px;"><i class="fa fa-search"></i>  Procurar</button>
                    </div>
                </fieldset>
                <br />
                <fieldset id="dadosGerais">
                    <legend>Dados Gerais</legend>
                    <br />
                    <div class="form-group">
                        @Html.Label("lblRzScLocador", "Razão Social:")
                        @Html.TextBox("txtRzScLocador", null, new { @class = "form-control", placeholder = "preencha aqui", required = "required" })
                    </div>
                    <div class="form-group">
                        @Html.Label("lblNmFsLocador", "Nome Fantasia:")
                        @Html.TextBox("txtNmFsLocador", null, new { @class = "form-control", placeholder = "preencha aqui", required = "required" })
                    </div>
                    <div class="form-group">
                        @Html.Label("lblEmailLocador", "E-Mail:")
                        @Html.TextBox("txtEmailLocador", null, new { @class = "form-control", placeholder = "preencha aqui", required = "required" })
                    </div>
                    <div class="form-group">
                        @Html.Label("lblTelefoneLocador", "Telefone:")
                        @Html.TextBox("txtTelefoneLocador", null, new { @class = "form-control", placeholder = "preencha aqui", required = "required" })
                    </div>
                    <div class="form-group">
                        @Html.Label("lblSituacaoLocador", "Qual é a Situação do Locador?")
                        @Html.Raw("<select id='selSituacaoLocador' name='selSituacaoLocador' class='form-control'><option value='A'>Ativo</option><option value='B'>Bloqueado</option></select>")
                    </div>
                    <div class="form-group">
                        @Html.Label("lblUltimaAtualizacaoLocador", "Última Atualização:")
                        @Html.TextBox("txtUltimaAtualizacaoLocador", null, new { @class = "form-control", placeholder = "Auditoria do registro é automática", @readonly = "readonly" })
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <fieldset id="documentoLocador">
                    <legend>Documentação</legend>
                    <hr />                    
                    @Html.TextBox("txtDocumentoLocador", null, new { @class = "form-control", placeholder = "preenchimento automático", @readonly = "readonly" })
                </fieldset>
                <br />
                <fieldset id="enderecoContato">
                    <legend>Endereço</legend>
                    <br />
                    <div class="form-group">
                        @Html.Label("lblEnderecoLocador", "Logadouro:")
                        @Html.TextBox("txtEnderecoLocador", null, new { @class = "form-control", placeholder = "preencha aqui", required = "required" })
                    </div>
                    <div class="form-group">
                        @Html.Label("lblCidadeLocador", "Cidade:")
                        @Html.TextBox("txtCidadeLocador", null, new { @class = "form-control", placeholder = "preencha aqui", required = "required" })
                    </div>
                    <div class="form-group">
                        @Html.Label("lblEstadoLocador", "Estado:")
                        @Html.Raw("<select id='selEstadoLocador' name='selEstadoLocador' class='form-control'><option value='AC'>Acre</option><option value='AL'>Alagoas</option><option value='AP'>Amapá</option><option value='AM'>Amazonas</option><option value='BA'>Bahia</option><option value='CE'>Ceará</option><option value='DF'>Distrito Federal</option><option value='ES'>Espírito Santo</option><option value='GO'>Goiás</option><option value='MA'>Maranhão</option><option value='MT'>Mato Grosso</option><option value='MS'>Mato Grosso do Sul</option><option value='MG'>Minas Gerais</option><option value='PA'>Pará</option><option value='PB'>Paraíba</option><option value='PR'>Paraná</option><option value='PE'>Pernambuco</option><option value='PI'>Piauí</option><option value='RJ'>Rio de Janeiro</option><option value='RN'>Rio Grande do Norte</option><option value='RS'>Rio Grande do Sul</option><option value='RO'>Rondônia</option><option value='RR'>Roraima</option><option value='SC'>Santa Catarina</option><option value='SP'>São Paulo</option><option value='SE'>Sergipe</option><option value='TO'>Tocantins</option><option value='EX'>Estrangeiro</option></select>")
                    </div>
                    <div class="form-group">
                        @Html.Label("lblCepLocador", "CEP:")
                        @Html.TextBox("txtCepLocador", null, new { @class = "form-control", placeholder = "preencha aqui", required = "required" })
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-success form-group" type="submit"><i class="fa fa-check"></i> Confirmar</button>
            <button class="btn btn-danger form-group" type="reset" onclick="LimparObrigatoriosLocador()"><i class="fa fa-trash"></i> Limpar</button>
            <a href="@Url.Action("Index", "Inicio")" class="btn btn-primary form-group"><i class="fa fa-reply"></i> Voltar</a>
        </div>
    }
</div>

<div id="listarLocador" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg modal-md modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-danger"><strong>Locador não encontrado!</strong><br /></h4>
                <p class="lead">Consulte a lista abaixo e clique para selecionar um Locador:</p>
            </div>
            <div class="modal-body text-center">
                <hr />
                @foreach (var model in Model.Locador)
                {
                    <div class="row" style="margin-top:24px;">
                        <div class="col-md-1"><Strong>@(model.CodigoLocador)</Strong></div>
                        <div class="col-md-3"><i class="fa fa-user"></i> @Html.LabelForModel(model.NomeFantasiaLocador)</div>
                        <div class="col-md-4"><i class="fa fa-envelope"></i> @Html.LabelForModel(model.EmailLocador)</div>
                        <div class="col-md-2"><i class="fa fa-calendar"></i> @Html.LabelForModel(model.HoraRegistroLocador)</div>
                        <div class="col-md-2"><button class="btn btn-success" name="lnkCodigoLocador" id="lnkCodigoLocador-@(model.CodigoLocador)" onclick='SelecionarLocadorLinkModal("lnkCodigoLocador-@(model.CodigoLocador)")' value="@(model.CodigoLocador)">Selecione <i class="fa fa-check"></i></button></div>
                    </div>
                    <hr />
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-reply"></i> Voltar</button>
            </div>
        </div>
    </div>
</div>

